@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --radius: 0.5rem;
    --background: oklch(0.9777 0.0041 301.4256);
    --foreground: oklch(0.3651 0.0325 287.0807);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.3651 0.0325 287.0807);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.3651 0.0325 287.0807);
    --primary: oklch(0.6104 0.0767 299.7335);
    --primary-foreground: oklch(0.9777 0.0041 301.4256);
    --secondary: oklch(0.8957 0.0265 300.2416);
    --secondary-foreground: oklch(0.3651 0.0325 287.0807);
    --muted: oklch(0.8906 0.0139 299.7754);
    --muted-foreground: oklch(0.5288 0.0375 290.7895);
    --accent: oklch(0.7889 0.0802 359.9375);
    --accent-foreground: oklch(0.3394 0.0441 1.7583);
    --destructive: oklch(0.6332 0.1578 22.6734);
    --border: oklch(0.8447 0.0226 300.1421);
    --input: oklch(0.9329 0.0124 301.2783);
    --ring: oklch(0.6104 0.0767 299.7335);
    --chart-1: oklch(0.6104 0.0767 299.7335);
    --chart-2: oklch(0.7889 0.0802 359.9375);
    --chart-3: oklch(0.7321 0.0749 169.8670);
    --chart-4: oklch(0.8540 0.0882 76.8292);
    --chart-5: oklch(0.7857 0.0645 258.0839);
    --sidebar: oklch(0.9554 0.0082 301.3541);
    --sidebar-foreground: oklch(0.3651 0.0325 287.0807);
    --sidebar-primary: oklch(0.6104 0.0767 299.7335);
    --sidebar-primary-foreground: oklch(0.9777 0.0041 301.4256);
    --sidebar-accent: oklch(0.7889 0.0802 359.9375);
    --sidebar-accent-foreground: oklch(0.3394 0.0441 1.7583);
    --sidebar-border: oklch(0.8719 0.0198 302.1690);
    --sidebar-ring: oklch(0.6104 0.0767 299.7335);
    --destructive-foreground: oklch(0.9777 0.0041 301.4256);
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.06;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-offset-x: 1px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
    --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
    --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
    --tracking-normal: 0em;
  }

  .dark {
    --background: oklch(0.2166 0.0215 292.8474);
    --foreground: oklch(0.9053 0.0245 293.5570);
    --card: oklch(0.2544 0.0301 292.7315);
    --card-foreground: oklch(0.9053 0.0245 293.5570);
    --popover: oklch(0.2544 0.0301 292.7315);
    --popover-foreground: oklch(0.9053 0.0245 293.5570);
    --primary: oklch(0.7058 0.0777 302.0489);
    --primary-foreground: oklch(0.2166 0.0215 292.8474);
    --secondary: oklch(0.4604 0.0472 295.5578);
    --secondary-foreground: oklch(0.9053 0.0245 293.5570);
    --muted: oklch(0.2560 0.0320 294.8380);
    --muted-foreground: oklch(0.6974 0.0282 300.0614);
    --accent: oklch(0.3181 0.0321 308.6149);
    --accent-foreground: oklch(0.8391 0.0692 2.6681);
    --destructive: oklch(0.6875 0.1420 21.4566);
    --border: oklch(0.3063 0.0359 293.3367);
    --input: oklch(0.2847 0.0346 291.2726);
    --ring: oklch(0.7058 0.0777 302.0489);
    --chart-1: oklch(0.7058 0.0777 302.0489);
    --chart-2: oklch(0.8391 0.0692 2.6681);
    --chart-3: oklch(0.7321 0.0749 169.8670);
    --chart-4: oklch(0.8540 0.0882 76.8292);
    --chart-5: oklch(0.7857 0.0645 258.0839);
    --sidebar: oklch(0.1985 0.0200 293.6639);
    --sidebar-foreground: oklch(0.9053 0.0245 293.5570);
    --sidebar-primary: oklch(0.7058 0.0777 302.0489);
    --sidebar-primary-foreground: oklch(0.2166 0.0215 292.8474);
    --sidebar-accent: oklch(0.3181 0.0321 308.6149);
    --sidebar-accent-foreground: oklch(0.8391 0.0692 2.6681);
    --sidebar-border: oklch(0.2847 0.0346 291.2726);
    --sidebar-ring: oklch(0.7058 0.0777 302.0489);
    --destructive-foreground: oklch(0.2166 0.0215 292.8474);
    --radius: 0.5rem;
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.06;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-offset-x: 1px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
    --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
    --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
  }

  [data-theme="red"] {
    --background: oklch(0.9818 0.0054 95.0986);
    --foreground: oklch(0.3438 0.0269 95.7226);
    --card: oklch(0.9818 0.0054 95.0986);
    --card-foreground: oklch(0.1908 0.0020 106.5859);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2671 0.0196 98.9390);
    --primary: oklch(0.6171 0.1375 39.0427);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9245 0.0138 92.9892);
    --secondary-foreground: oklch(0.4334 0.0177 98.6048);
    --muted: oklch(0.9341 0.0153 90.2390);
    --muted-foreground: oklch(0.6059 0.0075 97.4233);
    --accent: oklch(0.9245 0.0138 92.9892);
    --accent-foreground: oklch(0.2671 0.0196 98.9390);
    --destructive: oklch(0.1908 0.0020 106.5859);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8847 0.0069 97.3627);
    --input: oklch(0.7621 0.0156 98.3528);
    --ring: oklch(0.6171 0.1375 39.0427);
    --chart-1: oklch(0.5583 0.1276 42.9956);
    --chart-2: oklch(0.6898 0.1581 290.4107);
    --chart-3: oklch(0.8816 0.0276 93.1280);
    --chart-4: oklch(0.8822 0.0403 298.1792);
    --chart-5: oklch(0.5608 0.1348 42.0584);
    --sidebar: oklch(0.9663 0.0080 98.8792);
    --sidebar-foreground: oklch(0.3590 0.0051 106.6524);
    --sidebar-primary: oklch(0.6171 0.1375 39.0427);
    --sidebar-primary-foreground: oklch(0.9881 0 0);
    --sidebar-accent: oklch(0.9245 0.0138 92.9892);
    --sidebar-accent-foreground: oklch(0.3250 0 0);
    --sidebar-border: oklch(0.9401 0 0);
    --sidebar-ring: oklch(0.7731 0 0);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
  [data-theme="red"].dark {
    --background: oklch(0.2679 0.0036 106.6427);
    --foreground: oklch(0.8074 0.0142 93.0137);
    --card: oklch(0.2679 0.0036 106.6427);
    --card-foreground: oklch(0.9818 0.0054 95.0986);
    --popover: oklch(0.3085 0.0035 106.6039);
    --popover-foreground: oklch(0.9211 0.0040 106.4781);
    --primary: oklch(0.6724 0.1308 38.7559);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9818 0.0054 95.0986);
    --secondary-foreground: oklch(0.3085 0.0035 106.6039);
    --muted: oklch(0.2213 0.0038 106.7070);
    --muted-foreground: oklch(0.7713 0.0169 99.0657);
    --accent: oklch(0.2130 0.0078 95.4245);
    --accent-foreground: oklch(0.9663 0.0080 98.8792);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3618 0.0101 106.8928);
    --input: oklch(0.4336 0.0113 100.2195);
    --ring: oklch(0.6724 0.1308 38.7559);
    --chart-1: oklch(0.5583 0.1276 42.9956);
    --chart-2: oklch(0.6898 0.1581 290.4107);
    --chart-3: oklch(0.2130 0.0078 95.4245);
    --chart-4: oklch(0.3074 0.0516 289.3230);
    --chart-5: oklch(0.5608 0.1348 42.0584);
    --sidebar: oklch(0.2357 0.0024 67.7077);
    --sidebar-foreground: oklch(0.8074 0.0142 93.0137);
    --sidebar-primary: oklch(0.3250 0 0);
    --sidebar-primary-foreground: oklch(0.9881 0 0);
    --sidebar-accent: oklch(0.1680 0.0020 106.6177);
    --sidebar-accent-foreground: oklch(0.8074 0.0142 93.0137);
    --sidebar-border: oklch(0.9401 0 0);
    --sidebar-ring: oklch(0.7731 0 0);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  [data-theme="blue"] {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.3588 0.1354 278.6973);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.3588 0.1354 278.6973);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.3588 0.1354 278.6973);
    --primary: oklch(0.6056 0.2189 292.7172);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9618 0.0202 295.1913);
    --secondary-foreground: oklch(0.4568 0.2146 277.0229);
    --muted: oklch(0.9691 0.0161 293.7558);
    --muted-foreground: oklch(0.5413 0.2466 293.0090);
    --accent: oklch(0.9319 0.0316 255.5855);
    --accent-foreground: oklch(0.4244 0.1809 265.6377);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9299 0.0334 272.7879);
    --input: oklch(0.9299 0.0334 272.7879);
    --ring: oklch(0.6056 0.2189 292.7172);
    --chart-1: oklch(0.6056 0.2189 292.7172);
    --chart-2: oklch(0.5413 0.2466 293.0090);
    --chart-3: oklch(0.4907 0.2412 292.5809);
    --chart-4: oklch(0.4320 0.2106 292.7591);
    --chart-5: oklch(0.3796 0.1783 293.7446);
    --sidebar: oklch(0.9691 0.0161 293.7558);
    --sidebar-foreground: oklch(0.3588 0.1354 278.6973);
    --sidebar-primary: oklch(0.6056 0.2189 292.7172);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9319 0.0316 255.5855);
    --sidebar-accent-foreground: oklch(0.4244 0.1809 265.6377);
    --sidebar-border: oklch(0.9299 0.0334 272.7879);
    --sidebar-ring: oklch(0.6056 0.2189 292.7172);
    --font-sans: Roboto, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.625rem;
    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.2;
    --shadow-color: hsl(255 86% 66%);
    --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
    --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
    --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
    --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
    --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 2px 4px -1px hsl(255 86% 66% / 0.20);
    --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 4px 6px -1px hsl(255 86% 66% / 0.20);
    --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 8px 10px -1px hsl(255 86% 66% / 0.20);
    --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.50);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
  [data-theme="blue"].dark {
    --background: oklch(0.2077 0.0398 265.7549);
    --foreground: oklch(0.9299 0.0334 272.7879);
    --card: oklch(0.2573 0.0861 281.2883);
    --card-foreground: oklch(0.9299 0.0334 272.7879);
    --popover: oklch(0.2573 0.0861 281.2883);
    --popover-foreground: oklch(0.9299 0.0334 272.7879);
    --primary: oklch(0.6056 0.2189 292.7172);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.2573 0.0861 281.2883);
    --secondary-foreground: oklch(0.9299 0.0334 272.7879);
    --muted: oklch(0.2329 0.0919 279.1398);
    --muted-foreground: oklch(0.8112 0.1013 293.5712);
    --accent: oklch(0.4568 0.2146 277.0229);
    --accent-foreground: oklch(0.9299 0.0334 272.7879);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.2827 0.1351 291.0894);
    --input: oklch(0.2827 0.1351 291.0894);
    --ring: oklch(0.6056 0.2189 292.7172);
    --chart-1: oklch(0.7090 0.1592 293.5412);
    --chart-2: oklch(0.6056 0.2189 292.7172);
    --chart-3: oklch(0.5413 0.2466 293.0090);
    --chart-4: oklch(0.4907 0.2412 292.5809);
    --chart-5: oklch(0.4320 0.2106 292.7591);
    --sidebar: oklch(0.2077 0.0398 265.7549);
    --sidebar-foreground: oklch(0.9299 0.0334 272.7879);
    --sidebar-primary: oklch(0.6056 0.2189 292.7172);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.4568 0.2146 277.0229);
    --sidebar-accent-foreground: oklch(0.9299 0.0334 272.7879);
    --sidebar-border: oklch(0.2827 0.1351 291.0894);
    --sidebar-ring: oklch(0.6056 0.2189 292.7172);
    --font-sans: Roboto, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.625rem;
    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.2;
    --shadow-color: hsl(255 86% 66%);
    --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
    --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
    --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
    --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
    --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 2px 4px -1px hsl(255 86% 66% / 0.20);
    --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 4px 6px -1px hsl(255 86% 66% / 0.20);
    --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 8px 10px -1px hsl(255 86% 66% / 0.20);
    --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.50);
  }

  [data-theme="mocha-mousse"] {
    --background: oklch(0.9529 0.0146 102.4597);
    --foreground: oklch(0.4063 0.0255 40.3627);
    --card: oklch(0.9529 0.0146 102.4597);
    --card-foreground: oklch(0.4063 0.0255 40.3627);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.4063 0.0255 40.3627);
    --primary: oklch(0.6083 0.0623 44.3588);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.7473 0.0387 80.5476);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.8502 0.0389 49.0874);
    --muted-foreground: oklch(0.5416 0.0512 37.2132);
    --accent: oklch(0.8502 0.0389 49.0874);
    --accent-foreground: oklch(0.4063 0.0255 40.3627);
    --destructive: oklch(0.2225 0.0098 52.9636);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.7473 0.0387 80.5476);
    --input: oklch(0.7473 0.0387 80.5476);
    --ring: oklch(0.6083 0.0623 44.3588);
    --chart-1: oklch(0.6083 0.0623 44.3588);
    --chart-2: oklch(0.5416 0.0512 37.2132);
    --chart-3: oklch(0.7272 0.0539 52.3320);
    --chart-4: oklch(0.7473 0.0387 80.5476);
    --chart-5: oklch(0.6440 0.0405 52.3917);
    --sidebar: oklch(0.8903 0.0278 49.5658);
    --sidebar-foreground: oklch(0.4063 0.0255 40.3627);
    --sidebar-primary: oklch(0.6083 0.0623 44.3588);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.7272 0.0539 52.3320);
    --sidebar-accent-foreground: oklch(1.0000 0 0);
    --sidebar-border: oklch(0.6440 0.0405 52.3917);
    --sidebar-ring: oklch(0.6083 0.0623 44.3588);
    --font-sans: DM Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 0.5rem;
    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.11;
    --shadow-color: hsl(20 18% 51% / 0.4);
    --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
    --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
    --shadow-sm: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
    --shadow: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
    --shadow-md: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 2px 4px -1px hsl(20 18% 51% / 0.11);
    --shadow-lg: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 4px 6px -1px hsl(20 18% 51% / 0.11);
    --shadow-xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 8px 10px -1px hsl(20 18% 51% / 0.11);
    --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  [data-theme="mocha-mousse"].dark {
    --background: oklch(0.2721 0.0141 48.1783);
    --foreground: oklch(0.9529 0.0146 102.4597);
    --card: oklch(0.3291 0.0156 50.8936);
    --card-foreground: oklch(0.9529 0.0146 102.4597);
    --popover: oklch(0.3291 0.0156 50.8936);
    --popover-foreground: oklch(0.9529 0.0146 102.4597);
    --primary: oklch(0.7272 0.0539 52.3320);
    --primary-foreground: oklch(0.2721 0.0141 48.1783);
    --secondary: oklch(0.5416 0.0512 37.2132);
    --secondary-foreground: oklch(0.9529 0.0146 102.4597);
    --muted: oklch(0.4063 0.0255 40.3627);
    --muted-foreground: oklch(0.7575 0.0380 50.8610);
    --accent: oklch(0.7473 0.0387 80.5476);
    --accent-foreground: oklch(0.2721 0.0141 48.1783);
    --destructive: oklch(0.6875 0.1420 21.4566);
    --destructive-foreground: oklch(0.2721 0.0141 48.1783);
    --border: oklch(0.4063 0.0255 40.3627);
    --input: oklch(0.4063 0.0255 40.3627);
    --ring: oklch(0.7272 0.0539 52.3320);
    --chart-1: oklch(0.7272 0.0539 52.3320);
    --chart-2: oklch(0.7473 0.0387 80.5476);
    --chart-3: oklch(0.6083 0.0623 44.3588);
    --chart-4: oklch(0.5416 0.0512 37.2132);
    --chart-5: oklch(0.6440 0.0405 52.3917);
    --sidebar: oklch(0.2225 0.0098 52.9636);
    --sidebar-foreground: oklch(0.9529 0.0146 102.4597);
    --sidebar-primary: oklch(0.7272 0.0539 52.3320);
    --sidebar-primary-foreground: oklch(0.2225 0.0098 52.9636);
    --sidebar-accent: oklch(0.7473 0.0387 80.5476);
    --sidebar-accent-foreground: oklch(0.2225 0.0098 52.9636);
    --sidebar-border: oklch(0.4063 0.0255 40.3627);
    --sidebar-ring: oklch(0.7272 0.0539 52.3320);
    --font-sans: DM Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 0.5rem;
    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.11;
    --shadow-color: hsl(20 18% 30% / 0.5);
    --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
    --shadow-xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
    --shadow-sm: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 1px 2px -1px hsl(20 18% 30% / 0.11);
    --shadow: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 1px 2px -1px hsl(20 18% 30% / 0.11);
    --shadow-md: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 2px 4px -1px hsl(20 18% 30% / 0.11);
    --shadow-lg: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 4px 6px -1px hsl(20 18% 30% / 0.11);
    --shadow-xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 8px 10px -1px hsl(20 18% 30% / 0.11);
    --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.28);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Geist, sans-serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --font-serif: "Lora", Georgia, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --text-xxs: 0.625rem;
  --text-xxxs: 0.5rem;
}